load 'deploy'

# Probably do need to change these
set :user, "vack"
set :application, "meditime"
set :repository, "svn+ssh://tezpur.keck.waisman.wisc.edu/home/vack/svn/meditime/trunk"

# Probably don't need to change these
role :app, "camelot.keck.waisman.wisc.edu"
set :use_sudo, false
set :gateway, "tezpur.keck.waisman.wisc.edu"
set :deploy_via, :export
set :ssh_options , {:forward_agent => true}
set :deploy_to, "/var/www/cap_deployments/#{application}"
set :pidfile, "#{shared_path}/var/#{application}.pid"
set :gunicorn_cmd, "#{shared_path}/bin/cornitup"


desc <<-DESC
  Show calculated config options
DESC
task :info do
  puts "application: #{application}"
  puts "repository: #{repository}"
  puts "releases_path: #{releases_path}"
  puts "shared_path: #{shared_path}"
  puts "deploy_to: #{deploy_to}"
  puts "current_path: #{current_path}"
  puts "pidfile: #{pidfile}"
  puts "gunicorn_cmd: #{gunicorn_cmd}"
end

namespace :deploy do
  desc <<-DESC
   Update scm_info.py, copies settings.py and .htaccess to their proper homes
  DESC
  task :finalize_update do
    # And create a file with the current revision... (used in the models)
    scmfile = File.join(release_path, 'scm_info.py')
    full_url = "#{repository}@#{latest_revision}"
    run "echo \"REVISION=#{latest_revision}\" > #{scmfile}"
    run "echo \"REPOSITORY_URL=\\\"#{full_url}\\\"\" >> #{scmfile}"
    
    run "cp -sf #{shared_path}/system/settings.py #{release_path}/settings.py"
    run "cp -sf #{shared_path}/system/.htaccess #{release_path}/public/.htaccess"
  end
  
  desc <<-DESC
    Start a gunicorn instance to run the server
  DESC
  task :start do
    run "#{gunicorn_cmd}"
  end
  
  desc <<-DESC
    Kill our gunicorn instance
  DESC
  task :stop do
    run "kill `cat #{pidfile}`"
  end
  
  desc <<-DESC
    Restart gunicorn.
  DESC
  task :restart do
    run "kill -HUP `cat #{pidfile}`"
  end
end

after :deploy, "deploy:cleanup"
