{% extends "base.html" %}

{% block body %}
<h1>The Study</h1>

<p>
We invite you to be aware of your breath. While pressing a key with each breath, you may be asked occasionally about your experience. This will help us understand how the mind works. Most sessions last 10-15 minutes, though you can choose to go longer or return for more sessions. If you become uncomfortable, you may stop at any time.
</p>

<p>
Our intention is to freely offer a safe, secure environment to investigate the mind, for visitors and for the field of science. If you have concerns about what you experience during the session please contact Dr. Richard Davidson (<a href="mailto:rjdavids@wisc.edu">rjdavids@wisc.edu</a>; <span class="ph">608-265-8189</span>). If you have questions about your rights as a research participant, please contact the Education and Social and Behavioral Science Institutional Review Board ("Committee for the Protection of Human Subjects") at <span class="ph">608-263-2320</span>.
</p>

<p>
No personal benefit is guaranteed from participating in this study.
</p>

<p>
  <a href="{% url timing.views.welcome_consent %}">Back</a>
</p>

{% endblock %}