{% load base_paths %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Awareness Online</title>
  <link href="{% css_prefix %}/screen.css" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]>
      <link href="{% css_prefix %}/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21673270-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% block js %}{% endblock %}
</head>

<body>
<script type="text/javascript">
var data = {};
</script>
  <div id="container">
    <div id="content">
      {% block body %}{% endblock %}
      <div id="flasher"></div>
    </div>
  </div>
  <script type="text/javascript" src="{% js_prefix %}/jquery-1.5.min.js"> </script>
  <script type="text/javascript" src="{% js_prefix %}/jquery-ui-1.8.9.custom.min.js"> </script>
  <script type="text/javascript" src="{% js_prefix %}/app.js"> </script>
</body>
</html>
