{% load base_paths %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Breath</title>
  <link href="{% css_prefix %}/screen.css" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]>
      <link href="{% css_prefix %}/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  
  {% block js %}{% endblock %}
</head>

<body>
<script type="text/javascript">
var data = {};
</script>
  <div id="container" class="showgrid">
    <div id="content" class="debug">
      {% block body %}{% endblock %}
    </div>
  </div>
  <script type="text/javascript" src="{% js_prefix %}/jquery-1.5.min.js"> </script>
  <script type="text/javascript" src="{% js_prefix %}/app.js"> </script>
</body>
</html>
