{% extends "base.html" %}

{% block body %}
<h1>Awareness Online</h1>

<form action="{% url timing.views.demographics %}" method="post">
  <div>
    {{ form.non_field_errors }}
  </div>
  <div class="fl">
    <label>Birth date</label>
    {{ form.birth_year }}
    {{ form.birth_month }}
  </div>
  <div class="fl">
    <label for="id_email_ok">
      {{ form.email_ok.label }}
    </label>
    {{ form.email_ok }}
  </div>
  <div class="fl">
    <input type="submit" value="Continue" />
  </div>
</form>

{% endblock %}