{% extends "base.html" %}

{% block body %}
<h1>Awareness Online: Practice</h1>
<div id="guided_practice">

  <div id="running">
      <p>
      Feeling the breath move at it’s own natural rhythm, once it moves in and out, silently say “one” and press the <code>{{ exp.breath_time_key }}</code> key.
      </p>
      
      <p>
      After it moves in and out again, say "two" and press the <code>{{ exp.breath_time_key }}</code> key.
      </p>
      
      <p>
      Continue this way up to {{ exp.cycle_length }}. When you get to {{ exp.cycle_length }}, press the <code>{{ exp.end_cycle_key }}</code> key (instead of the <code>{{ exp.breath_time_key }}</code> key).Then return to 1 on the next breath and pressing the <code>{{ exp.breath_time_key }}</code> key, going from 1 to {{ exp.cycle_length }} again and again. 
      </p>

      <p>
      Please begin keypressing as you count your breaths if you have not
      already done so. Your count will be highlighted below.
      </p>
  </div>
  
  <div id="practice_guide">
    <ol id="keyguide">
    </ol>
    <div id="count_indicator">
      1
    </div>
  </div>

  <div id="success">
    <p>
      Great job! Now, we'll do a practice session without the keys displayed.
    </p>
    <p>Press the <code>{{ exp.breath_time_key }}</code> key to continue.
  </div>

  <div id="err_wrong_key">
    <p>
      Please press only the <code>{{ exp.breath_time_key }}</code> key and the <code>{{ exp.end_cycle_key }}</code> key during practice.
    </p>
    <p>Press the <code>{{ exp.breath_time_key }}</code> key to try again.
  </div>

  <div id="err_too_many">
    <p>You didn't press the <code>{{ exp.end_cycle_key }}</code> key on your {{ exp.cycle_length }}<sup>th</sup> breath. Make sure you 
press the the <code>{{ exp.breath_time_key }}</code> key key during every exhale, 
and then press the the <code>{{ exp.end_cycle_key }}</code> key key on the {{ exp.cycle_length }}<sup>th</sup> exhale.
    </p>
    <p>Press the <code>{{ exp.breath_time_key }}</code> key to try again.</p>
  </div>

  <div id="err_debounce">
    <p>Please press the keys only once for each breath.</p>
    <p>Press the <code>{{ exp.breath_time_key }}</code> key to try again.</p>
  </div>

  <div id="err_too_few">
    <p>You didn't press the <code>{{ exp.breath_time_key }}</code> key key on all breaths except the {{ exp.cycle_length }}<sup>th</sup> breath. Make sure you press the the <code>{{ exp.breath_time_key }}</code> key key during every exhale, and then press the the <code>{{ exp.end_cycle_key }}</code> key key on the {{ exp.cycle_length }}<sup>th</sup> exhale.
    </p>
    <p>Press the <code>{{ exp.breath_time_key }}</code> key to try again.</p>
  </div>

  <div id="err_timing">
    <p>You took an unusual amount of time to complete the practice run. Make sure you press the the <code>{{ exp.breath_time_key }}</code> key key once during every exhale, and then press the the <code>{{ exp.end_cycle_key }}</code> key key on the {{ exp.cycle_length }}<sup>th</sup> exhale.
    </p>
    <p>Press the <code>{{ exp.breath_time_key }}</code> key to try again.</p>
  </div>
</div>

<script type="text/javascript">
  data.onfinish = function() {
    window.location.href = "{% url timing.views.practice slug=exp.url_slug %}";
  }
  data.log_path = "{% url timing.views.log view_key='' slug=exp.url_slug %}";
  data.guide = "#practice_guide";
  data.status_container = "#guided_practice";
  data.count_indicator = "#count_indicator";
  data.count_key = "{{ exp.breath_time_key }}";
  data.restart_key = "{{ exp.breath_time_key }}";
  data.reset_key = "{{ exp.end_cycle_key }}";
  data.cycle_length = {{ exp.cycle_length }};
  data.practice_cycles = {{ exp.practice_cycles }};
</script>

{% endblock %}
