{% extends "base.html" %}

{% block body %}

<h1>Awareness Online: Instructions</h1>

<ol id="instructions">
  <li>
    <p>
      Before we begin, make sure that you close all other browser windows, turn off your cell phone, and minimize all potential distractions.
    </p>
    <p>
      Press <code>SPACEBAR</code> to continue.
    </p>
  </li>
  <li>
    <p>
      In this task, we would like you to be aware of the breath. You may be  aware of the rising and falling of your belly or chest or the movement of breath in and out near your nose. There's no need to control the breath. Just breath normally.
    </p>
    <p>
      Press <code>A</code> to continue.
    </p>
  </li>
  <li>
    <p>Please count your breaths silently. Start with 1 on the 1st exhale, and  continue up to 9 for the 9th exhale. At the beginning of each exhale,  press the <code>A</code>. When you get to 9, though, press <code>F</code>.Then with the next breath start counting again at 1. Press the <code>A</code> as usual at the beginning of each exhale.
    </p>
    <p>
      Press <code>F</code> to continue.
    </p>

  </li>
  <li>
    <p>
      If you realize you have lost count, that's ok. Press the SPACEBAR 
      button, and gently bring the attention back to your breath. Then, start
      your count over at 1 with the next exhale.
      As usual, you'll press the <code>A</code> at the beginning of every exhale except
      when you reach the number 9 and press <code>F</code>.
    </p>
    <p>Press the <code>SPACEBAR</code> to continue
    </p>

  </li>
  <li>
    <p>
      As you count your breaths, keep your fingers on the <code>A</code> and <code>F</code> keys. What's very IMPORTANT is that:
    </p>
    <ol>
      <li>EVERY TIME you begin to breath out, you press the <code>A</code></li>
      <li>EVERY TIME your count reaches 9, you press <code>F</code>, and then you start back at 1</li>
      <li>EVERY TIME you lose track of your count, press the <code>SPACEBAR</code>.</li>
    </ol>

    <p>Press the letter <code>A</code> to continue.
    </p>
  </li>
  <li>
    <p>On the next screen, we'll start to practice. There's no need to look at anything in particular while you're counting. Place the attention on the breath.
    </p>
    <p>Press <code>A</code> to continue to the practice screen
    </p>
  </li>
</ol>
</p>

<script type="text/javascript">
  data.nav_practice = function() {
    window.location.href = "{% url timing.views.practice %}";
  }
</script>

{% endblock %}
