{% extends "base.html" %}

{% block body %}

<h1>Awareness Online: Instructions</h1>

<ol id="instructions">
  <li>
    <p>
      Before we begin, make sure that you close all other browser windows, turn off your cell phone, and minimize potential distractions.
    </p>
    <p>
      Press the <code>{{ exp.breath_time_key }}</code> key to continue.
    </p>
  </li>
  <li>
    <p>
      In this task, we would like you to be aware of your breath.
      
      Please be aware of the movement of breath in and out in the space below your nose and above your upper lip.
      
      There's no need to control the breath.  
      Just breathe normally.
    </p>
    <p>
      Press the <code>{{ exp.breath_time_key }}</code> key to continue.
    </p>
  </li>
  <li>
      <p>
      At some point, you may notice your attention has wandered from the breath.  That's okay.  Just gently place it back on the breath.
      </p>
      <p>
      To help attention stay with the breath, you'll use a small part of your attention to silently count breaths from 1 to {{ exp.cycle_length }}, again and again.  An in and out breath together make one count. 
      </p>
      <p>
      On the next page we'll practice. With the first breaths, you'll press the <code>{{ exp.breath_time_key }}</code> key, and on breath {{ exp.cycle_length }} you'll press the <code>{{ exp.end_cycle_key }}</code> key.</p>
      <p>
      Remember to say the count softly so it only gets a little attention while most of the attention is on feeling the breath.
    </p>
    <p>
      Press the <code>{{ exp.end_cycle_key }}</code> key to continue.
    </p>

  </li>
</ol>
</p>

<script type="text/javascript">
  data.onfinish = function() {
    window.location.href = "{% url timing.views.guided_practice slug=exp.url_slug %}";
  }
</script>

{% endblock %}
