{% extends "base.html" %}

{% block body %}
<h1>Awareness Online: Practice</h1>
<div id="practice">

  <div id="getready">
    <p>To start practice, press <code>{{ exp.breath_time_key }}</code> on your first exhale.</p>
  </div>

  <div id="running">
    <p>Practice is running...</p>
  </div>

  <div id="success">
    <p>Practice has finished. Well done!</p>
    <p>Press <code>{{ exp.breath_time_key }}</code> to continue.
  </div>

  <div id="err_wrong_key">
    <p>Please press only <code>{{ exp.breath_time_key }}</code> and <code>{{ exp.end_cycle_key }}</code> during practice.
    </p>
    <p>Press <code>{{ exp.breath_time_key }}</code> to try again.
  </div>

  <div id="err_too_many">
    <p>You didn't press <code>{{ exp.breath_time_key }}</code> on your {{ exp.cycle_length }}<sup>th</sup> breath. Make sure you press the <code>{{ exp.breath_time_key }}</code> key during every exhale, and then press the <code>{{ exp.end_cycle_key }}</code> key on the {{ exp.cycle_length }}<sup>th</sup> exhale.
    </p>
    <p>Press <code>{{ exp.breath_time_key }}</code> to try again.</p>
  </div>

  <div id="err_debounce">
    <p>Please press the keys only once for each breath.</p>
    <p>Press <code>{{ exp.breath_time_key }}</code> to try again.</p>
  </div>

  <div id="err_too_few">
    <p>You didn't press <code>{{ exp.breath_time_key }}</code> key on all breaths except the {{ exp.cycle_length }}<sup>th</sup> breath. Make sure you press the <code>{{ exp.breath_time_key }}</code> key during every exhale, and then press the <code>{{ exp.end_cycle_key }}</code> key on the {{ exp.cycle_length }}<sup>th</sup> exhale.
    </p>
    <p>Press <code>{{ exp.breath_time_key }}</code> to try again.</p>
  </div>

  <div id="err_timing">
    <p>You took an unusual amount of time to complete the practice run. Make sure you press the <code>{{ exp.breath_time_key }}</code> key once during every exhale, and then press the <code>{{ exp.end_cycle_key }}</code> key on the {{ exp.cycle_length }}<sup>th</sup> exhale.
    </p>
    <p>Press <code>{{ exp.breath_time_key }}</code> to try again.</p>
  </div>
</div>

<script type="text/javascript">
  data.onfinish = function() {
    window.location.href = "{% url timing.views.run_task slug=exp.url_slug %}";
  };
  data.log_path = "{% url timing.views.log view_key='' slug=exp.url_slug %}";
  data.count_key = "{{ exp.breath_time_key }}";
  data.restart_key = "{{ exp.breath_time_key }}";
  data.reset_key = "{{ exp.end_cycle_key }}";
  data.cycle_length = {{ exp.cycle_length }};
  data.practice_cycles = {{ exp.practice_cycles }};
  
</script>

{% endblock %}
