{% extends "base.html" %}

{% block body %}
<h1>Awareness Online: Practice</h1>
<div id="practice">

  <div id="getready">
    <p>To start practice, press <code>a</code> on your first exhale.</p>
  </div>

  <div id="running">
    <p>Practice is running...</p>
  </div>

  <div id="success">
    <p>Practice has finished. Well done!</p>
    <p>Press <code>A</code> to continue.
  </div>

  <div id="err_wrong_key">
    <p>Please press only <code>a</code> and <code>f</code> during practice.
    </p>
    <p>Press <code>A</code> to try again.
  </div>

  <div id="err_too_many">
    <p>You didn't press <code>f</code> on your ninth breath. Make sure you press the <code>a</code> key during every exhale, and then press the <code>f</code> key on the ninth exhale.
    </p>
    <p>Press <code>A</code> to try again.</p>
  </div>

  <div id="err_debounce">
    <p>Please press the keys only once for each breath.</p>
    <p>Press <code>A</code> to try again.</p>
  </div>

  <div id="err_too_few">
    <p>You didn't press <code>a</code> key on all breaths except the ninth breath. Make sure you press the <code>a</code> key during every exhale, and then press the <code>f</code> key on the ninth exhale.
    </p>
    <p>Press <code>A</code> to try again.</p>
  </div>

  <div id="err_timing">
    <p>You took an unusual amount of time to complete the practice run. Make sure you press the <code>a</code> key once during every exhale, and then press the <code>f</code> key on the ninth exhale.
    </p>
    <p>Press <code>A</code> to try again.</p>
  </div>
</div>

<script type="text/javascript">
  data.nav_run = function() {
    window.location.href = "{% url timing.views.run_task %}";
  }
  data.log_path = "{% url timing.views.log view_key='' %}"
</script>

{% endblock %}
