{% extends "base.html" %}

{% block body %}
<h1>Privacy</h1>

<p>
Your email address is confidential and will never be shared. We will never email you without your explicit permission. All information you provide is stored securely on digital networks and kept confidential. Only de-identified results will be used for scientific purposes.
</p>
<p>
Further details: We use the same secure hypertext transfer protocol (HTTPS) that banks and other commercial websites use to transfer credit card information in an encrypted format. This provides strong security for data transfer to and from our website.
</p>
{% endblock %}