{% extends "base.html" %}

{% block body %}
<h1>Awareness Online</h1>
<div id="meditime_run">
  <div id="getready">
    <p>The task will take about {{ task_len_min }} minutes and be followed by a few questionnaires. We suggest you sit in an upright, relaxed posture that feels comfortable. To begin, press <code>a</code> on your first exhale...</p>
    </p>
  </div>
  <div id="running">
    <p>Task is running...</p>
  </div>

</div>

<script type="text/javascript">
  data.nav_thanks = function() { window.location.href = "{% url timing.views.thanks slug='s' %}" }
</script>

{% endblock %}
