{% extends "base.html" %}
{% load base_paths %}

{% block body %}
<h1>Awareness Online</h1>
<div id="meditime_run">
  <div id="getready">
    {{ exp.run_instructions|safe }}
  </div>
  <div id="running">
    <p>Task is running...</p>
  </div>

</div>

<script type="text/javascript">
  data.onfinish = function() { window.location.href = "{% url timing.views.thanks slug=exp.url_slug %}"; };
  data.chime_on_error = {{ exp.chime_on_error_js }};
  data.error_chime_url = '{% fx_prefix %}/error_chime.mp3';
  data.guide_url = '{{MEDIA_URL}}{{ exp.guide_sound_file }}';
  data.play_guide = {{ exp.has_guide_sound_js }};
</script>

{% endblock %}
