{% extends "base.html" %}

{% block body %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21673270-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


<h1>Awareness Online</h1>

<h2>Principal Investigator</h2>
<p>
  Richard J. Davidson, Ph.D., Vilas Professor of Psychology and Psychiatry
</p>

<p>
If you have not reviewed our <a href="{% url timing.views.background %}">background</a> and <a href="{% url timing.views.privacy %}">privacy</a> information, please do so before registering.
</p>

<form action="{% url timing.views.welcome_consent slug='s' %}" method="POST">
  {{ form.as_p }}
  <input type="submit" value="Continue" />
</form>
{% endblock %}